# Credit Score

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/german.data', sep=' ', header = None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   object
 1   1       1000 non-null   int64
 2   2       1000 non-null   object
 3   3       1000 non-null   object
 4   4       1000 non-null   int64
 5   5       1000 non-null   object
 6   6       1000 non-null   object
 7   7       1000 non-null   int64
 8   8       1000 non-null   object
 9   9       1000 non-null   object
 10  10      1000 non-null   int64
 11  11      1000 non-null   object
 12  12      1000 non-null   int64
 13  13      1000 non-null   object
 14  14      1000 non-null   object
 15  15      1000 non-null   int64
 16  16      1000 non-null   object
 17  17      1000 non-null   int64
 18  18      1000 non-null   object
 19  19      1000 non-null   object
 20  20      1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB